# Preprocessing

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [2]:
# Load the data
data = pd.read_csv('data/loan_sample.csv')

In [3]:
#check the columns and rows
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67820 entries, 0 to 67819
Columns: 145 entries, id to settlement_term
dtypes: float64(105), int64(4), object(36)
memory usage: 75.0+ MB

In [4]:
# Check the first few rows of the data
data.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,3000,3000,2750.0,36 months,7.90,93.88,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,8000,8000,8000.0,36 months,15.05,277.52,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2400,2400,2400.0,36 months,12.69,80.51,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,28000,28000,28000.0,60 months,13.99,651.37,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2000,2000,2000.0,36 months,14.99,69.33,C,C5,...,NaN,NaN,Cash,Y,Jul-2017,COMPLETE,Mar-2017,441.48,50.0,4.0

In [5]:
# check loan status
data['loan_status'].value_counts()

loan_status
Fully Paid                                             31267
Current                                                27721
Charged Off                                             7742
Late (31-120 days)                                       637
In Grace Period                                          266
Late (16-30 days)                                        100
Does not meet the credit policy. Status:Fully Paid        61
Does not meet the credit policy. Status:Charged Off       23
Default                                                    3
Name: count, dtype: int64

In [6]:
# check missing percentage of the columns
missing = data.isnull().mean()*100

In [7]:
# drop columns with more than 10% of missing values
data = data.loc[:, missing < 10]

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67820 entries, 0 to 67819
Data columns (total 86 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   67820 non-null  int64
 1   funded_amnt                 67820 non-null  int64
 2   funded_amnt_inv             67820 non-null  float64
 3   term                        67820 non-null  object
 4   int_rate                    67820 non-null  float64
 5   installment                 67820 non-null  float64
 6   grade                       67820 non-null  object
 7   sub_grade                   67820 non-null  object
 8   emp_title                   62905 non-null  object
 9   emp_length                  63502 non-null  object
 10  home_ownership              67820 non-null  object
 11  annual_inc                  67820 non-null  float64
 12  verification_status         67820 non-null  object
 13  issue_d                     67820 non-null  object
 14  loan_status                 67820 non-null  object
 15  pymnt_plan                  67820 non-null  object
 16  purpose                     67820 non-null  object
 17  title                       67185 non-null  object
 18  zip_code                    67820 non-null  object
 19  addr_state                  67820 non-null  object
 20  dti                         67764 non-null  float64
 21  delinq_2yrs                 67818 non-null  float64
 22  earliest_cr_line            67818 non-null  object
 23  inq_last_6mths              67818 non-null  float64
 24  open_acc                    67818 non-null  float64
 25  pub_rec                     67818 non-null  float64
 26  revol_bal                   67820 non-null  int64
 27  revol_util                  67769 non-null  float64
 28  total_acc                   67818 non-null  float64
 29  initial_list_status         67820 non-null  object
 30  out_prncp                   67820 non-null  float64
 31  out_prncp_inv               67820 non-null  float64
 32  total_pymnt                 67820 non-null  float64
 33  total_pymnt_inv             67820 non-null  float64
 34  total_rec_prncp             67820 non-null  float64
 35  total_rec_int               67820 non-null  float64
 36  total_rec_late_fee          67820 non-null  float64
 37  recoveries                  67820 non-null  float64
 38  collection_recovery_fee     67820 non-null  float64
 39  last_pymnt_d                67746 non-null  object
 40  last_pymnt_amnt             67820 non-null  float64
 41  last_credit_pull_d          67818 non-null  object
 42  collections_12_mths_ex_med  67811 non-null  float64
 43  policy_code                 67820 non-null  int64
 44  application_type            67820 non-null  object
 45  acc_now_delinq              67818 non-null  float64
 46  tot_coll_amt                65786 non-null  float64
 47  tot_cur_bal                 65786 non-null  float64
 48  total_rev_hi_lim            65786 non-null  float64
 49  acc_open_past_24mths        66399 non-null  float64
 50  avg_cur_bal                 65783 non-null  float64
 51  bc_open_to_buy              65679 non-null  float64
 52  bc_util                     65654 non-null  float64
 53  chargeoff_within_12_mths    67811 non-null  float64
 54  delinq_amnt                 67818 non-null  float64
 55  mo_sin_old_il_acct          63767 non-null  float64
 56  mo_sin_old_rev_tl_op        65786 non-null  float64
 57  mo_sin_rcnt_rev_tl_op       65786 non-null  float64
 58  mo_sin_rcnt_tl              65786 non-null  float64
 59  mort_acc                    66399 non-null  float64
 60  mths_since_recent_bc        65727 non-null  float64
 61  num_accts_ever_120_pd       65786 non-null  float64
 62  num_actv_bc_tl              65786 non-null  float64
 63  num_actv_rev_tl             65786 non-null  float64
 64  num_bc_sats                 66157 non-null  float64
 65  num_bc_tl                   65786 non-null  float64
 66  num_il_tl                   65786 non-null  float64
 67  num_op_rev_tl               65786 non-null  float64
 68  num_rev_accts               65786 non-null  float64
 69  num_rev_tl_bal_gt_0         65786 non-null  float64
 70  num_sats                    66157 non-null  float64
 71  num_tl_120dpd_2m            63289 non-null  float64
 72  num_tl_30dpd                65786 non-null  float64
 73  num_tl_90g_dpd_24m          65786 non-null  float64
 74  num_tl_op_past_12m          65786 non-null  float64
 75  pct_tl_nvr_dlq              65778 non-null  float64
 76  percent_bc_gt_75            65668 non-null  float64
 77  pub_rec_bankruptcies        67778 non-null  float64
 78  tax_liens                   67814 non-null  float64
 79  tot_hi_cred_lim             65786 non-null  float64
 80  total_bal_ex_mort           66399 non-null  float64
 81  total_bc_limit              66399 non-null  float64
 82  total_il_high_credit_limit  65786 non-null  float64
 83  hardship_flag               67820 non-null  object
 84  disbursement_method         67820 non-null  object
 85  debt_settlement_flag        67820 non-null  object
dtypes: float64(60), int64(4), object(22)
memory usage: 44.5+ MB

# Clean continuos variables

## Employment lenght

In [9]:
# employment length options
data['emp_length'].value_counts()

emp_length
10+ years    22492
2 years       6161
< 1 year      5707
3 years       5510
1 year        4401
5 years       4166
4 years       4141
6 years       3066
7 years       2813
8 years       2725
9 years       2320
Name: count, dtype: int64

In [10]:
# replace '< 1 year' with 0, '10+ years' with 10
data['emp_length'] = data['emp_length'].replace({'< 1 year': '0', '10+ years': '10'})

In [11]:
# substract 'years' from the column and then convert to numeric
data['emp_length'] = data['emp_length'].str.extract('(\d+)').astype(float)

In [12]:
#check
data['emp_length'].value_counts()

emp_length
10.0    22492
2.0      6161
0.0      5707
3.0      5510
1.0      4401
5.0      4166
4.0      4141
6.0      3066
7.0      2813
8.0      2725
9.0      2320
Name: count, dtype: int64

In [13]:
#describe the length of employment
data['emp_length'].describe()

count    63502.000000
mean         5.926333
std          3.719452
min          0.000000
25%          2.000000
50%          6.000000
75%         10.000000
max         10.000000
Name: emp_length, dtype: float64

## Term

In [14]:

data['term'].value_counts()

term
 36 months    48355
 60 months    19465
Name: count, dtype: int64

In [15]:
# substrac the 'months' from the column and then convert to numeric
data['term_int'] = data['term'].str.replace(' months', '').astype(int)

## Crime line

In [16]:
# change to date 'earliest_cr_line' to datetime
data['earliest_cr_line'] = pd.to_datetime(data['earliest_cr_line'], format='%b-%Y')

In [17]:
data['earliest_cr_line'].head()

0   1997-10-01
1   2004-11-01
2   2009-07-01
3   2007-01-01
4   1990-07-01
Name: earliest_cr_line, dtype: datetime64[ns]

In [18]:
# order descendent by 'earliest_cr_line'
data['earliest_cr_line'].sort_values(ascending = False)

48324   2015-10-01
54649   2015-10-01
6105    2015-10-01
35470   2015-10-01
16631   2015-09-01
           ...
60702   1954-01-01
15753   1953-01-01
33937   1951-01-01
57263          NaT
64902          NaT
Name: earliest_cr_line, Length: 67820, dtype: datetime64[ns]

In [19]:
# delete null values
data = data.dropna(subset=['earliest_cr_line'])

In [20]:
# create a variable of the difference of months since the max date of 'earlist_cr_line' and the 'earliest_cr_line'
data['months_since_earliest_cr_line'] = (data['earliest_cr_line'].max() - data['earliest_cr_line'])/np.timedelta64(30, 'D')

# Cleaning categorical variables
List of variables: 
- grade
- sub_grade
- home_ownership
- verification_status
- loan_status
- purpose
- addr_state
- initial_list_status

## Grade

In [21]:
# check grade
data['grade'].value_counts()

grade
B    19967
C    19399
A    13139
D     9608
E     4080
F     1244
G      381
Name: count, dtype: int64

In [22]:
# generate dummies and then concatenate to the data and drop the the new first column
def generate_dummies(data, column):
    dummies = pd.get_dummies(data[column], prefix=column, prefix_sep=':', drop_first=True)
    df = pd.concat([data, dummies], axis=1)
    return df

In [23]:
#create df with dummies and without the original column
list_categ_vars = ['grade', 'sub_grade', 'home_ownership', 'verification_status', 'purpose', 'addr_state', 'initial_list_status']
df = data.copy()
for var in list_categ_vars:
    df = generate_dummies(df, var)

# Cleaning missing values

In [24]:
# check the percentage of missing values by column
missing = df.isnull().mean()*100
df = df.loc[:, missing < 10]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67818 entries, 0 to 67819
Columns: 198 entries, loan_amnt to initial_list_status:w
dtypes: bool(110), datetime64[ns](1), float64(62), int32(1), int64(4), object(20)
memory usage: 52.9+ MB

In [26]:
# Count the number of rows with missing values
num_rows_with_nan = df.isnull().sum(axis=1).to_numpy().nonzero()[0].size
print(f"Number of rows with missing values: {num_rows_with_nan}")

Number of rows with missing values: 11939

## Columns of interest 
* annual_inc,
* delinq_2yrs,
* inq_last_6mths,
* open_acc,
* pub_rec,
* total_acc,
* acc_now_delinq,
* total_rev_hi_lim,
* emp_length_int,
* mths_since_earliest_cr_line

In [27]:
# check the type of the columns of interest
df[['acc_now_delinq','total_acc','pub_rec','open_acc','inq_last_6mths','delinq_2yrs','emp_length']].dtypes

acc_now_delinq    float64
total_acc         float64
pub_rec           float64
open_acc          float64
inq_last_6mths    float64
delinq_2yrs       float64
emp_length        float64
dtype: object

In [28]:
#select the columns of interest then replace null values with the mean of each column
columns = ['acc_now_delinq','total_acc','pub_rec','open_acc','inq_last_6mths','delinq_2yrs','emp_length']
for col in columns:
    df[col].fillna(df[col].mean(), inplace=True)

In [29]:
num_rows_with_nan = df[columns].isnull().sum(axis=1).to_numpy().nonzero()[0].size
print(f"Number of rows with missing values: {num_rows_with_nan}")

Number of rows with missing values: 0

In [30]:
df[columns].isnull().sum(axis=1)

0        0
1        0
2        0
3        0
4        0
        ..
67815    0
67816    0
67817    0
67818    0
67819    0
Length: 67818, dtype: int64

In [31]:
#select the columns which names start with the items of list_categ_vars, then append num_vars and loan_status, and create loan_df
list_categ_vars = ['grade', 'sub_grade', 'home_ownership', 'verification_status', 'purpose', 'addr_state', 'initial_list_status']
list_dummy_vars = [col for col in df.columns if col.startswith(tuple(list_categ_vars))]
list_num_vars = ['acc_now_delinq','total_acc','pub_rec','open_acc','inq_last_6mths','delinq_2yrs','emp_length']
vars_select = list_dummy_vars + list_num_vars + list_categ_vars + ['loan_status']
loan_df = df[vars_select]

In [32]:
loan_df.to_csv('data/loan_status_clean_df.csv', index=False)